/* Desktop View */
@media screen and (min-width: 960px)
{

    .bio
    {
        display: flex;
        justify-content: space-between;
    }

    #landing-content
    {
        height: 200px;
    }

    img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

}
/* Mobile View */
@media screen and (max-width: 960px)
{
    
    .bio
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        width: 100%;
        max-width: 300px; 
        height: auto;
    }

}

#name {
    max-width: fit-content;
}


.bio 
{
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 25px;
    gap: 25px;
    background-color: #102066;
    color: #FFFFFF;

    img 
    {
        border-radius: 10px; 
    }
    
}
.bio-text {
    font-size: 20px;
    line-height: 25px;
}

#landing-content {

    font-size: 22px;
    a {
        color: #ACC8E5;
    }
    a:hover {
        color: #FFFF00;
    }

}

a:hover {
    color: #FFFF00;
}