/* Desktop View */
@media screen and (min-width: 960px)
{

    body 
    {
        width: 80vw;
    }

    .pg-main-content
    {
        display: flex;
        justify-content: space-between;
    }

}
/* Mobile View */
@media screen and (max-width: 960px)
{
    body 
    {
        width: 90vw;
    }
    
    .pg-main-content
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

}

#name, h1, h2, h3 {
  color: #FFD400;
}

html {
  background-color: #1f2753;
  color: #FFFFFF;
  font-family: "Roboto";
}
body 
{
  margin: 0 auto;
}

a:link,
a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

a:hover,
a:active {
	text-decoration: underline;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f2753;
  z-index: 2000; /* Keeps the header above other content */
  padding: 10px 0; /* Adjust padding as needed */
}