html {
  background-color: #1f2753;
  color: #FFFFFF;
  font-family: "Public Sans";
}
body 
{
  width: 80vw;
  margin: 0 auto;
}

a:link,
a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

a:hover,
a:active {
	text-decoration: underline;
}
