/* Desktop View */
@media screen and (min-width: 960px)
{

    body 
    {
        width: 80vw;
    }

    .pg-main-content
    {
        display: flex;
        justify-content: space-between;
    }

}
/* Mobile View */
@media screen and (max-width: 960px)
{
    body 
    {
        width: 90vw;
    }
    
    .pg-main-content
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

}

h1, h2, h3 {
  color: #102066;
}

#name {
  color: #FFFF00;
  background-color: #102066;
  padding: 1%;
}

.bg-white-name {
  text-decoration: underline;
  text-decoration-color: #FFFF00; /* Makes the underline yellow */
  text-decoration-thickness: 4px; /* Adjust thickness */
}

html {
  background-color: #FFFFFF;
  color: black;
  font-family: "Roboto";
}
body 
{
  margin: 0 auto;
}

a:link,
a:visited {
	color: #FFFFFF;
}



header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #102066;
  z-index: 2000; /* Keeps the header above other content */
  padding: 10px 0; /* Adjust padding as needed */
  border-bottom: solid gray;
}


#emerald-game-button {
  margin: 1em;
}

button {
  border-radius: 5px;
  border-width: 2px;
  font-size: 18px;
  background-color: #FFFF00;
  padding: 8px 12px;
  font-family: "Roboto";
}

button a {
  text-decoration: none;
  color: #102066;
}

button:hover {
  text-decoration: underline;
}