#Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
        text-align: center;
        width: 100%;
        max-width: 800px;
    }
}

.icons {
    display: flex;
    gap: 10px;
    a {
        text-decoration: none;
    } 
}

#sonic-image {
    width: 100%;
    max-width: 250px;
    padding: 25px;
}
