/* Desktop View */
@media screen and (min-width: 960px)
{

    .project p {
        width: 500px;
        font-size: 16px;
    }

    .project img {
        width: 100%;
        max-width: 500px; 
        height: auto;
    }

    .projects {
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: space-evenly;
        gap: 20px;
        height: 500px;
    }
}
/* Mobile View */
@media screen and (max-width: 960px)
{
    
    img {
        width: 100%;
        max-width: 300px; 
        height: auto; /
    }

    .project p {
        width: 300px;
        font-size: 16px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 800px;
    }
}


.project button {
    background-color: #1f2753;
    border-radius: 5px; 
    color: #FFFFFF;
    width: 60px;
    height: 30px;
    font-size: 18px;
    text-decoration: none;
}

.button-links {
    display: flex;
    gap:5px;
}

#demo-button {
    background-color: rgb(147, 43, 43);
}

#repo-button {
    background-color: #646cff;
}

#project-nav
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}